@font-face {
  font-family: 'DMSans';
  src: url('fonts/DMSans-Regular.ttf') format('truetype');
}

body {
  font-family: 'DM Sans', sans-serif;
}

:root {
  --primary-color: #d3573c;
  --secondary-color: #901c1c;
  --tercary-color: #525252;
  --background: #fafafa;
  --background-form: #db8876;
}

a {
  text-decoration: none;
}

.m-container {
  margin: 0 10rem;
}

/* Header */
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
  padding: 2rem 0;
}

.header-logo {
  height: 2.5rem;
  width: auto;
}

.header-title {
  color: var(--secondary-color);
  margin: 0;
}

/* Photographers wrapper  */
.photographers-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

/* Portrait photographe */
.photographer-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photographer-infos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photographer-infos p {
  margin: 0;
}

.photographer-image {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  object-fit: cover;
}

.photographer-name {
  color: var(--primary-color);
  margin-bottom: 0.5rem;
}

.photographer-location {
  color: var(--secondary-color);
}

.photographer-price,
.photographer-tagline {
  color: var(--tercary-color);
}

/* Contact photographe */

.photographer-contact-card {
  background-color: var(--background);
  display: flex;
  justify-content: space-around;
  padding: 2rem;
}

.contact-button {
  color: white;
  background-color: var(--secondary-color);
  margin: auto;
  padding: 1rem;
  border: none;
  font-weight: bold;
  border-radius: 0.2rem;
}

.contact-button:hover {
  cursor: pointer;
}

/* Medias */
.medias-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
}

.media-src {
  width: 100%;
  height: 300px;
  object-fit: cover;
  cursor: pointer;
}

.media-card-content {
  display: flex;
  justify-content: space-between;
}

.media-title,
.like-icon {
  color: var(--secondary-color);
}

.likes {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* Modal */
.modal {
  position: absolute;
  left: 0;
  top: 0;
  height: 300vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.7);
  overflow: hidden;
  display: none;
}

/* Lightbox Modal  */

.lightbox-wrapper {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.lightbox-prev {
  left: -7%;
  top: 50%;
}

.lightbox-next {
  right: -7%;
  top: 50%;
}

.lightbox-close {
  right: -8%;
  top: -3%;
}

.lightbox-prev,
.lightbox-next,
.lightbox-close {
  border: none;
  background-color: transparent;
  color: var(--secondary-color);
  cursor: pointer;
  position: absolute;
  font-size: 3rem;
  font-weight: bold;
}

.media-modal {
  width: 600px;
  height: 600px;
  object-fit: cover;
}

/* contact form */
.contactForm-wrapper {
  background-color: var(--background-form);
  width: max-content;
  padding: 1rem 1rem;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.contactForm-wrapper h1 {
  font-weight: initial;
  margin: auto;
}

.contactForm-wrapper .close-btn {
  /* top: 3% !important; */
  /* left: 17% !important; */
  /* right: -65% !important; */
  border: none;
  background-color: transparent;
  font-size: 2rem;
  position: absolute;
  right: 0;
  top: 0;
  padding: 1rem;
  color: white !important;
  cursor: pointer;
}

.contactForm-wrapper form {
  display: flex;
  flex-direction: column;
}

.contactForm-wrapper label {
  padding: 0.5rem 0;
}

.contactForm-wrapper input {
  padding: 0.7rem 0;
}

.contactForm-wrapper input,
.contactForm-wrapper textarea {
  width: 20rem;
}

.contactForm-wrapper .contact-button {
  margin-left: 0px;
  margin-top: 1rem;
}

.field {
  display: flex;
  flex-direction: column;
}

.error {
  color: var(--secondary-color);
  font-weight: bold;
}

.hidden {
  display: none;
}

/* like-btn  */
.like-btn {
  cursor: pointer;
}

/* likes-price-wrapper */

.likes-price-wrapper {
  background-color: var(--background-form);
  position: fixed;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
  border-radius: 0.5rem 0.5rem 0 0;
  right: 2rem;
  bottom: 0;
}

.likes-count-wrapper {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.likes-count-wrapper p {
  font-weight: bold;
}

/* Sorter */
.sorter-form-wrapper {
  padding: 2rem 0;
}

.sorter-form-wrapper label {
  font-weight: bold;
}

#sorter-select {
  background-color: var(--secondary-color);
  color: white;
  font-weight: bold;
  border: none;
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

#sorter-select:hover {
  cursor: pointer;
}

/*media queries*/
@media screen and (max-width: 768px) {
  .m-container {
    margin: 0;
  }
  .main-header {
    margin-top: 2rem;
    justify-content: center;
    flex-direction: column;
  }
  .photographers-wrapper {
    display: flex;
    flex-direction: column;
  }
  .photographer-contact-card {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .medias-wrapper {
    display: flex;
    flex-direction: column;
  }

  .lightbox-wrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }

  .lightbox-btns {
    display: flex;
    justify-content: space-around;
  }

  .media-modal {
    width: 400px;
    height: 400px;
  }

  .lightbox-prev,
  .lightbox-next,
  .lightbox-close {
    position: initial;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1023px) {
  .m-container {
    margin: 0;
  }
}
